<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login &mdash; to explore more of crypto currency do login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="/static/css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	function showModal() {
        $(document).ready(function(){
		$("#myModal").modal('show');
	});
    }
</script>
	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="/"><img src="/static/images/logo.png" alt="Free HTML5 Website Template by GetTemplates.co"></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about/">About</a></li>
							
							</li>
							<li><a href="/login/">Login</a></li>
							<li><a href="/register/">Register</a></li>
							
							
							<li class="active"><a href="/contact/">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</nav>

		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-8">
										<h1 class="no-margin">Login</h1>
										<p>crypto alerts to expose the exclusive updates to your</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END #gtco-header -->

		

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Future of cryptocurrency</h2>
						<p>Cryptography is the essential building block of independence for organisations on the Internet, just like armies are the essential building blocks of states, because otherwise one state just takes over another</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<form method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label for="name">Email</label>
								
								<input type="email" name="email" class="form-control" id="email">

							</div>
							<div class="form-group">
								<label for="name">Password</label>
								
								<input type="password" name="password" class="form-control" id="password">

							</div>
							
							<div class="form-group">
									<p><h3><button type="submit" class="btn btn-white"><b><i> Submit</i></b></button></h3></p>

							</div>
							<p><a href="#" onclick="return showModal()">Forgot Password?</a></p>
						</form>
					
					</div>
                    <div class="col-md-5 col-md-push-1">
                        <div class="gtco-contact-info">
                            <h3>Our Address</h3>
                            <p>Anil Neerukonda Institute Of Science And Technology-UGC </p>
                            <ul >
                                <li class="address">Sangivalasa,Bhemunipatnam,Visakhakapatnam</li>
                                <li class="email"><a href="#">gnavya.15.cse@anits.edu.in</a></li>
                                <li class="email"><a href="#">cvisishta.15.cse@anits.edu.in</a></li>
                                <li class="url"><a href="#">www.anits.edu.in</a></li>
                            </ul>
						</div>
					</div>
				</div>
			</div>
		<!-- END .gtco-services -->

		
		

		<footer id="gtco-footer" class="gtco-section" role="contentinfo">
			<div class="gtco-container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 gtco-cta text-center">
						<h3>We Love To Talk About Your Business</h3>
						<p><a href="/contact/" class="btn btn-white btn-outline">Contact Us</a></p>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-4 gtco-widget gtco-footer-paragraph">
						<h3>Crpto Alerts</h3>
                        <p>crypto alerts to expose the exclusive updates to your</p>

                    </div>
					<div class="col-md-4 gtco-footer-link">
						<div class="row">
							<div class="col-md-6">
								<ul class="gtco-list-link">
									<li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    
                                    <li><a href="#">Contact</a></li>
                                </ul>
							</div>
							<div class="col-md-6">
								<p>
									
                                </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 gtco-footer-subscribe">
						<form class="form-inline">
						  <div class="form-group">
						    <label class="sr-only" for="exampleInputEmail3">Email address</label>
						    <input type="email" class="form-control" id="" placeholder="Email">
						  </div>
						  <button type="submit" class="btn btn-primary">Send</button>
						</form>
					</div>
				</div>
			</div>
			<div class="gtco-copyright">
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-6 text-left">
							<p><small>&copy;  All Rights Reserved. </small></p>
						</div>
						<div class="col-md-6 text-right">
							<p><small>Designed by <a href="http://gettemplates.co/" target="_blank">G.Navya , Ch.Visishta</a>  </p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/static/js/owl.carousel.min.js"></script>
	
	
	
	<!-- Main -->
	<script src="/static/js/main.js"></script>
	<div id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Forgot Password?</h4>
					</div>
					<div class="modal-body">
						<form action="#">
							<div class="form-group">
								<input type="email" class="form-control" name="fpEmail" placeholder="Email">
							</div>
						</form>
						<p class="text-warning"><small>Your password will be sent to your email.</small></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Get Password</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

