<!DOCTYPE HTML>
<!--
    Aesthetic by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL: http://gettemplates.co
-->
<html>
    <head>
    <meta http-equiv="refresh" content="{{ alertIn }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cube &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
    
    <!-- Animate.css -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Modernizr JS -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->


    </head>
    <body>
        
    <div class="gtco-loader"></div>
    
    <div id="page">

        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div id="gtco-logo"><a href="/"><img src="/static/images/logo.png" alt="Free HTML5 Website Template by GetTemplates.co"></a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/about/">About</a></li>
                            
                            
                            
                            
                            <li><a href="/contact/">Contact</a></li>
                            <li><a href="edit/">Edit Profile</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover" role="banner">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="display-t">
                            <div class="display-tc">
                                <div class="row">
                                    <div class="col-md-5 text-center header-img">
                                        <img src="/static/images/cube.png" alt="Free HTML5 Website Template by GetTemplates.co">
                                    </div>
                                    <div class="col-md-7 copy">
                                            <h1><b>CRYPTO ALERTS</b><br></h1>
                                        {% if paid == "False" %}
                                            <h2>Payment Required</h2>
                                            <p>
                                                <a href="{{ payment_url }}" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout"></a>
                                                <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
                                    
                                            </p>
                                        {% else %}  
                                            <h2>Welcome, {{ username }}!</h2>
                                            <div><p>Next Alert In: <span id="timer"></span></p></div>
                                            <script>
                                                    var maxTime = {{ alertIn }};
                                                    setInterval(func, 1000);
                                                    function func(){
                                                    if (maxTime > 0) {
                                                    document.getElementById('timer').innerHTML = maxTime + " seconds.";
                                                    maxTime = maxTime - 1; }
                                                    else { document.getElementById('timer').innerHTML = "Sending alert..." }
                                                    
                                                    }
                                                    </script>                                  
                                            <h2>Live Prices: </h2>
                                            {% for key, value in data.items %}
                                                <p>{{ key }}: {{ value }}</p>
                                            {% endfor %}
                                        {% endif %}
                        
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END #gtco-header -->

        <div class="gtco-client">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                        <img src="/static/images/client_1.png" alt="Free Website Template by GetTemplates.co" class="img-responsive">
                    </div>
                    <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                        <img src="/static/images/client_2.png" alt="Free Website Template by GetTemplates.co" class="img-responsive">
                    </div>
                    <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                        <img src="/static/images/client_3.png" alt="Free Website Template by GetTemplates.co" class="img-responsive">
                    </div>
                    <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                        <img src="/static/images/client_4.png" alt="Free Website Template by GetTemplates.co" class="img-responsive">
                    </div>
                    <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
                        <img src="/static/images/client_5.png" alt="Free Website Template by GetTemplates.co" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        







        <footer id="gtco-footer" class="gtco-section" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-pb-md">
                    <div class="col-md-8 col-md-offset-2 gtco-cta text-center">
                        <h3>We Love To Talk About Your Business</h3>
                        <p><a href="/contact/" class="btn btn-white btn-outline">Contact Us</a></p>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-4 gtco-widget gtco-footer-paragraph">
                        <h3>Cryto-Alerts</h3>
                        <p>crypto alerts to expose the exclusive updates to your</p>

                    </div>
                    <div class="col-md-4 gtco-footer-link">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="gtco-list-link">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <a href="#">cvisishta.15.cse@anits.edu.in</a> <br>
                                    <a href="#">gnavya.15.cse@anits.edu.in</a>
                                </p>
                            </div>
                            </div>
                    </div>
                    <div class="col-md-4 gtco-footer-subscribe">
                        <form class="form-inline">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control" id="" placeholder="Email">
                          </div>
                          <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="gtco-copyright">
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <p><small>&copy; 2018 . All Rights Reserved. </small></p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p><small>Designed by <a href="#" target="_blank"><b>G.Navya & C.Visishta</b></a>  </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/magnific-popup-options.js"></script>
    <!-- Main -->
    <script src="/static/js/main.js"></script>

    </body>
</html>

